# vim: ft=systemd
[Unit]
Description=kanshi allows you to define output profiles that are automatically enabled and disabled on hotplug.
Documentation=man:kanshi(5)
PartOf=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/kanshi
Restart=on-failure

[Install]
WantedBy=sway-session.target
