# vim: ft=systemd
[Unit]
Description=kanshi (dynamic display configuration) daemon
PartOf=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/kanshi
Restart=on-failure

[Install]
WantedBy=sway-session.target
