# vim: ft=systemd
[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple

# idle configuration for when system is being idle
ExecStart=/usr/bin/swayidle -w \
          timeout 300 'brightnessctl -s s 2% && swaylock -f' \
            resume 'brightnessctl -r' \
          timeout 600 'swaymsg "output * power off"' \
            resume 'swaymsg "output * power on" && brightnessctl -r' \
          before-sleep 'swaylock -f'
# this will lock your screen after 300 seconds of inactivity, then turn off
# your displays after another 300 seconds, and turn your screens back on when
# resumed. it will also lock your screen before your computer goes to sleep.

[Install]
WantedBy=sway-session.target
