# vim: ft=systemd
[Unit]
Description=Daily workspace setup
PartOf=graphical-session.target
Before=kanshi.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=swaymsg 'workspace --no-auto-back-and-forth $ws1; exec alacritty'
ExecStart=swaymsg 'workspace --no-auto-back-and-forth $ws4; exec google-chrome-unstable'
ExecStart=swaymsg 'workspace --no-auto-back-and-forth $ws3; exec obsidian'
ExecStart=swaymsg 'workspace --no-auto-back-and-forth $wsf'

[Install]
WantedBy=sway-session.target
