[submodule "vim/vim/bundle/vim-zimpl"]
	path = vim/vim/bundle/vim-zimpl
	url = git@github.com:1995parham/vim-zimpl.git
[submodule "vim/vim/bundle/vim-gas"]
	path = vim/vim/bundle/vim-gas
	url = git@github.com:1995parham/vim-gas.git
[submodule "vim/vim/bundle/vim-tcpdump"]
	path = vim/vim/bundle/vim-tcpdump
	url = git@github.com:1995parham/vim-tcpdump.git
[submodule "vim/vim/bundle/python-syntax"]
	path = vim/vim/bundle/python-syntax
	url = git@github.com:hdima/python-syntax.git
