[submodule "Vim/bundle/vim-zimpl"]
	path = Vim/bundle/vim-zimpl
	url = https://github.com/1995parham/vim-zimpl
[submodule "Vim/bundle/vim-gas"]
	path = Vim/bundle/vim-gas
	url = https://github.com/1995parham/vim-gas
[submodule "Vim/bundle/vim-tcpdump"]
	path = Vim/bundle/vim-tcpdump
	url = https://github.com/1995parham/vim-tcpdump
[submodule "Vim/bundle/python-syntax"]
	path = Vim/bundle/python-syntax
	url = git@github.com:hdima/python-syntax.git
