# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

format = """
:: $c\
$golang\
$java\
$nodejs\
$rust\
$conda\
$helm\
$python
:: $kubernetes $aws $nats
┌ [  ](bg:#1f1f1f)\
$username\
$hostname\
[ ](bg:#1f1f1f)\
$directory\
[ ](bg:#ffae1a)\
$git_branch\
$git_status\
$git_state\
$docker_context
└ ${env_var.NVIM}$character$shlvl$jobs${env_var.http_proxy}
"""

right_format = """
$time\
${custom.uname}
"""

continuation_prompt = '[∙](bright-black) '

[username]
show_always = false
style_user = "bg:#1f1f1f fg:#45ff2f bold"
style_root = "bg:#1f1f1f"
format = '[$user ]($style)'
disabled = false

[directory]
style = "bg:#ffae1a fg:#1f1f1f bold"
format = "[ $path ]($style)"
truncation_length = 3
truncate_to_repo = true
truncation_symbol = ''
home_symbol = "~"

[directory.substitutions]
"Documents/Git" = " 󰌢 "
"Downloads" = "  "
"Music" = "  "
"Pictures" = "  "

[c]
symbol = " "
style = "fg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[helm]
style = "fg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[docker_context]
symbol = " "
style = "fg:#06969A"
format = '[ $symbol $context ]($style) $path'
only_with_files = false
disabled = false

[git_branch]
symbol = ""
always_show_remote = false
format = '[ $symbol $branch](fg:#b299e5)[ (\[ $remote_name/$remote_branch \]) ](fg:#ff7f50)'

[git_status]
style = ""
up_to_date = '[](fg:#adff2f)'
diverged = '[$ahead_count A](fg:#adff2f) [$behind_count B](fg:#ff2fad)'
ahead = '[${count}A](fg:#adff2f)'
behind = '[${count}B](fg:#adff2f)'
format = '[$ahead_behind (\[$all_status\])]($style)'

[git_state]
format = '[\($state( $progress_current of $progress_total)\)]($style) '
cherry_pick = '[ PICKING](bold red)'

[golang]
symbol = " "
style = "fg:#86BBD8"
format = '[ \[ $symbol ($version $mod_version) \] ]($style)'

[java]
symbol = " "
style = "fg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = ""
style = "fg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "fg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[time]
disabled = false
time_format = "%R"
style = "fg:#7cfc00 bold"
format = '[ $time ]($style)'

[kubernetes]
disabled = false
symbol = ' 󱃾  '
format = '[ \[ $symbol](fg:#1e90ff)[($user @ )$context](fg:#ff7f50)([ in ](fg:#ff50d0)[$namespace](#50ff7f))[ \]](fg:#1e90ff)'

[[kubernetes.contexts]]
context_pattern = ".*api-(?P<region>[\\w\\d]+)-(?P<site>.+)-snappcloud-io:6443.*"
user_pattern = ".*parham.alvani.*"
user_alias = "parham"
context_alias = "$region-$site"

[[kubernetes.contexts]]
context_pattern = ".*api-okd-eu-central-1-cloud-baly-app:6443.*"
user_pattern = ".*parham.alvani.*"
user_alias = "parham"
context_alias = "pirouz"

[[kubernetes.contexts]]
context_pattern = "arn:aws:eks:(?P<region>[\\w-]+):[\\d]+:cluster/(?P<name>.*)"
user_alias = ""
context_alias = "$name $region"

[hostname]
ssh_only = false
format = '[$ssh_symbol](fg:#ffae1a bg:#1f1f1f)[$hostname](fg:#00bfff bg:#1f1f1f bold)'
disabled = false

[python]
detect_extensions = []
detect_files = []
style = 'fg:#00bfff'
format = '[ \[ $symbol $version \($virtualenv\) \] ]($style)'

[conda]
ignore_base = false
format = '[$symbol$environment]($style) '

[jobs]
style = 'fg:#ff3333'
format = "[$symbol$number ]($style)"

[nats]
style = 'fg:#ff9933'
symbol = ' 󰈸 '
disabled = false

[shlvl]
disabled = true
format = '[$symbol$shlvl]($style) '
repeat = true
symbol = '❯'
repeat_offset = 2
threshold = 0

[custom.uname]
command = '''
CACHE_FILE="/tmp/starship_uname_cache"
CACHE_MAX_AGE=86400  # 24 hours in seconds
if [ -f "$CACHE_FILE" ] && [ $(($(date +%s) - $(stat -c %Y "$CACHE_FILE" 2>/dev/null || stat -f %m "$CACHE_FILE" 2>/dev/null))) -lt $CACHE_MAX_AGE ]; then
  cat "$CACHE_FILE"
else
  uname -rs | tee "$CACHE_FILE"
fi
'''
when = true
style = 'fg:#ff0080'
symbol = '  '
description = 'kernel version (cached 24h)'

[env_var.NVIM]
style = 'fg:#32cd32'
symbol = ' '
format = ' [$symbol]($style)'
description = 'are we in neovim?'

[env_var.http_proxy]
variable = "http_proxy"
format = " 󰞇 "

[aws]
format = '[$symbol($profile )(\($region\) )]($style)'
style = 'bold blue'
symbol = ' 󰸏 '
disabled = false

[character]
vimcmd_symbol = '[](bold green)'
