<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>me.1995parham.cleanup</string>
    <key>Program</key>
    <string>~/bin/cleanup.sh</string>
    <key>StartInterval</key>
    <integer>60</integer>
</dict>
</plist>
