[Unit]
Description=Mount USB Drive on %I

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/usb-mount.sh mount %I
ExecStop=/usr/local/bin/usb-mount.sh umount %I
