[Unit]
Description=Mount USB Drive on %I

[Service]
Type=oneshot
Environment="ARGS=%I"
RemainAfterExit=true
ExecStart=/usr/local/bin/usb-mount.sh mount $ARGS
ExecStop=/usr/local/bin/usb-mount.sh umount $ARGS
