<?php
/**
 * In The Name Of God
 *
 * PHP Version 5
 *
 * Short description for file
 *
 * @category CategoryName
 * @package  PackageName
 * @author   $user.name <$user.email>
 * @license  http://www.php.net/license/3_01.txt  PHP License 3.01
 * @link     Link
 */
