<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>me.1995parham.hotel-login</string>
  <key>ProgramArguments</key>
  <array>
    <string>@ROOT@/hotel/hotel-login.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>60</integer>
  <key>StandardOutPath</key>
  <string>@HOME@/Library/Logs/hotel-login.log</string>
  <key>StandardErrorPath</key>
  <string>@HOME@/Library/Logs/hotel-login.log</string>
</dict>
</plist>
