[Unit]
Description=Change background each 5 minutes since 5 minutes from the boot.

[Timer]
OnBootSec=5m
OnUnitActiveSec=5m

[Install]
WantedBy=timers.target
