# vim: ft=systemd
[Unit]
Description=Daily workspace setup
PartOf=graphical-session.target
# Before=kanshi.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=i3-msg 'workspace --no-auto-back-and-forth $ws1; exec alacritty'
#ExecStart=swaymsg 'workspace --no-auto-back-and-forth $ws4; exec firefox'
ExecStart=i3-msg 'workspace --no-auto-back-and-forth $ws3; exec emacs; exec obsidian'
ExecStart=i3-msg 'workspace --no-auto-back-and-forth $wsf'

[Install]
WantedBy=i3-session.target
