.image-center {
	margin: 0 auto;
}

@media (min-width: 768px) {
	.sidebar {
    		position: fixed;
    		top: 0px;
    		bottom: 0;
    		left: 0;
    		z-index: 1000;
    		display: block;
    		padding: 20px;
    		overflow-x: hidden;
    		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  	}
}


.container > header {
	color: #2672EC;
}


.tile {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	background: #fff;
	padding: 20px;
	margin-bottom: 30px;
	height: 160px;
	border-style: none;
}

.tile > .title {
	margin-top: 0px;
}

.purple, .blue, .red, .orange, .green, .yellow, .gray {
	color: #fff;
}

.purple {
    	background: #5133AB;
}

.red {
    	background: #FF3155;
}

.green {
    	background: #7CFC00;
}

.blue {
    	background: #007FFF;
}

.orange {
    	background: #FFA500;
}

.gray {
    	background: #BEBEBE;
}

.yellow {
    background: #EEEE00;
}

.left-nav {
    	margin-bottom: 20px;
    	list-style: none;
}

.left-nav-item {
    	position: relative;
    	display: block;
    	padding: 10px 15px;
    	margin-bottom: -1px;
    	font-size: 18px;
}

.left-nav > li > a,
.left-nav > li > a:hover,
.left-nav > li > a:focus {
	color: #FFF;
	text-decoration:none;
}

.alink {
	font-size: 18px;
}

.tags {
	text-align: justify;
}

li.purple > a,
li.purple > a:hover,
li.purple > a:focus {
	color: #FFF;
	background: #5133AB;
    text-decoration: none;
}

li.blue > a,
li.blue > a:hover,
li.blue > a:focus {
    	color: #FFF;
    	background: #007FFF;
    	text-decoration: none;
}

li.red > a,
li.red > a:hover,
li.red > a:focus {
    	color: #FFF;
    	background: #FF3155;
    	text-decoration: none;
}

li.orange > a,
li.orange > a:hover,
li.orange > a:focus {
    	color: #FFF;
    	background: #FFA500;
    	text-decoration: none;
}

li.green > a,
li.green > a:hover,
li.green > a:focus {
    	color: #FFF;
    	background: #7CFC00;
    	text-decoration: none;
}

li.yellow > a,
li.yellow > a:hover,
li.yellow > a:focus {
    	color: #FFF;
    	background: #EEEE00;
    	text-decoration: none;
}

.btn-purple {
    	color: #FFF;
    	background: #5133AB;
}

.btn-blue {
    	color: #FFF;
    	background: #007FFF;
}

.btn-red {
    	color: #FFF;
    	background: #FF3155;
}

.btn-orange {
    color: #FFF;
    background: #FFA500;
}

.btn-green {
    color: #FFF;
    background: #7CFC00;
}

.btn-yellow {
    color: #FFF;
    background: #EEEE00;
}

a.purple-link,
a.purple-link:hover,
a.purple-link:focus{
    color: #5133AB;
}

a.red-link,
a.red-link:hover,
a.red-link:focus {
    color: #FF3155;
}

a.green-link,
a.green-link:hover,
a.green-link:focus {
    color: #7CFC00;
}

a.blue-link,
a.blue-link:hover,
a.blue-link:focus {
    color: #007fff;
}

a.orange-link,
a.orange-link:hover,
a.orange-link:focus {
    color: #FFA500;
}

a.yellow-link,
a.yellow-link:hover,
a.yellow-link:focus {
    color: #EEEE00;
}

.icon {
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    list-style: none outside none;
}

.icon-back{background-position:-966px -40px ; width: 48px ; height: 48px;display:inline-block;text-decoration:none}
