---
name: install
on:
  push:


jobs:
  basic-ubuntu:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: start.sh env
        run: ./start.sh -y env
      - name: install.sh
        run: ./install.sh
      - name: validate symbolic links
        run: |
          test "$(readlink -f ~/.zshrc.shared)" = "$(pwd)/zsh/zshrc.shared"
      - name: validate installation of requirements on both shell
        run: |
          bash -c hash vim batcat bmon
          zsh -c hash vim batcat bmon

  basic-osx:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: start.sh env
        run: ./start.sh -y env
      - name: install.sh
        run: ./install.sh
      - name: validate symbolic links
        run: |
          test "$(readlink -f ~/.zshrc.shared)" = "$(pwd)/zsh/zshrc.shared"
      - name: validate installation of requirements on both shell
        run: |
          bash -c hash vim batcat bmon
          zsh -c hash vim batcat bmon
