---
name: lint
on:
    push:

jobs:
    sh-checker:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Run the sh-checker
              uses: luizm/action-sh-checker@v0.9.0
              with:
                  sh_checker_comment: false

    unit:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Test units
              run: |
                  for f in tests/*.sh; do
                    bash "$f" -H || break
                  done
