---
name: lint
on:
    push:

jobs:
    sh-checker:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Run the sh-checker
              uses: luizm/action-sh-checker@v0.10.0
              env:
                  SHELLCHECK_OPTS: -x
              with:
                  sh_checker_comment: false
                  sh_checker_exclude: "scripts/lib/ start.sh"
